h1
{
    color:#fff;
    margin: 1rem 3rem;
}

h4
{
    color: rgba(0,0,0,.87)
}

.ui.segment
{
    Height: 100vh;
    border-radius: 20px;
    margin: 0rem 0;
}

.ui.selection.dropdown
{
    background : whitesmoke;
}

.ui.card>:only-child, .ui.cards>.card>:only-child
{
    margin: 10px;
}

.ui.card, .ui.cards>.card
{
    background : whitesmoke;
    margin-left: auto;
    margin-right: auto;
}

.ui[class*="two column"].grid>.column:not(.row), .ui[class*="two column"].grid>.row>.column
{
    width : 34%;
}

.ui.divided.grid:not([class*="vertically divided"])>.column:not(.row), .ui.divided.grid:not([class*="vertically divided"])>.row>.column
{
    box-shadow : 0px 0 0 0 rgba(34,36,38,.15);
}

.ui.grid>.row
{
    padding-top :  0.5em;
    padding-bottom : 0.5em;
}

label
{
    font-size: 15px;
    color : dimgray;
}

input
{
    width : 180px;
}