h1
{
    color: white;
    padding-top: 2rem;
    padding-bottom: 0rem;
    margin-bottom: 0rem;
}

h3
{
    padding-top: 5rem;
    color: white;
}

h5
{
    color: white;
}

input
{
    width: 50%;
}


.ant-form-item-label > label
{
    color:white;
    font-size: 1.3em;
}

.ui.inverted.yellow.button, .ui.inverted.yellow.buttons .button
{
    margin-left: 13.5rem;
    width: 40%;
    margin-bottom : 1rem;
}