body{
    font-family: 'Prompt', sans-serif;
    background-image: url('../image/BackgroundHome.png');
    background-position: center top;
    background-size: 100% 120%;
}

@import url('https://fonts.googleapis.com/css?family=Prompt&display=swap');